.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
  }
  body {
    background-image: url("diennang.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }